
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
   font-family: Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #f4f4f4;
}
.wishlist{
   position: relative;
   top: 20px;  /* Move a div 20px para baixo */
   right: 400px; /* Move a div 30px para a direita */
}
 .lista_opcoes {
   
      left: 20px;
   font-family: Arial, sans-serif; 
   color: #363636; padding: 10px;

   padding: 10px; /* Opcional: Adiciona um pouco de espaçamento interno */
}

/* Botao de excluir objetivo */
.remove-button{
   color: #ffffff;
   background-color: #f2cf0aa8;
   border: none;
   width: 70px;
   font-size: 20px;

   height: 23px;
   border-radius: 4px;

}
/* Botao de adcionar objetivo */
.add-button{
   color: #0C356A;
   background-color: #B8CBE3;
   border: none;
   width: 70px;
   font-size: 20px;
word-spacing: 20px;
   height: 23px;
   border-radius: 4px;
}
   
.custom-checkbox {
   position: relative;
   width: 20px;
   height: 20px;
   
}
/* CAMPO PARA A ESCRITA */
input[type="text"] {
   border: 1px solid #ccc;
   padding: 10px;
   right: 30px;
   border-radius: 5px;
   width: 100%;
   box-sizing: border-box;

      display: grid;
      gap: 500px; /* Adiciona 20px de espaço entre as linhas e colunas da grade */
  
}

input[type="number"] {
   border: 1px solid #ccc;
   padding: 10px;
   border-radius: 5px;
   width: 100%;
   box-sizing: border-box;
}
.container {
   display: flex;
   gap: 30px;
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wishlist-section {
   display: flex;
   flex-direction: column;
   gap: 15px;
}

h2 {
   color: #333;
}

.item {
   display: flex;
   align-items: center;
   gap: 10px;
}





.progress-bar {
   background-color: #eee;
   height: 10px;
   border-radius: 5px;
   width: 100%;
   overflow: hidden;
   margin-top: 10px;
}

.progress-fill {
   background-color: #4CAF50;
   height: 100%;
   width: 0%;
   transition: width 0.5s ease;
}

.check-box {
   display: flex;
   align-items: center;
   width: 50px;
}

input[type="checkbox"] {
   margin-right: 5px;
}

.completed {
   text-decoration: line-through;
   color: #999;
}
.cor_azul {
   border-bottom: 91px solid #0C356A;
   z-index: 999;
   /* Define a borda inferior */
   position: fixed;
   left: 14.6%;
   width: 85.2%;
   height: 11px;
   top: 0px;
   /* Adiciona espaço acima e abaixo da linha */
}

nav.menu-lateral {
   position: fixed;
   width: 200px;
   height: 100%;
   background: linear-gradient(#06264F 15.2%, #E6E6E6 10%);
   padding: 31px 0 50px 1%;
   font-weight: 600;
   top: 0;
   left: 0;
}

.btn-expandir {
   display: flex;
   width: 50px;
   margin-top: 12px;
   padding-left: 26px;
   color: #ffffff;
   position: fixed;
   font-size: 20;
   font-weight: 150;
   margin-left: 30px;
}

ul {
   margin-top: 105px;

}

.btn-expandir>i {
   color: rgb(255, 255, 255);
   font-size: 30px;
   cursor: pointer;
}

ul {
   height: 100%;
   list-style-type: none;

}

ul li.item-menu {
   transition: .1s;
}

ul li.item-menu :hover {
   background-color: #D6D9F2;

}

ul li.item-menu a {
   color: #0C356A;
   text-decoration: none;
   font-size: 20px;
   padding: 10px 4%;
   display: flex;
   margin-bottom: 20px;
   line-height: 40px;

}

ul li.item-menu a .txt-link {
   margin-left: 10px;
   font-size: px;
}

ul li.item-menu a .icon {
   font-size: 30px;
   position: relative;

}

main#list {
   position: absolute;
   left: 50%;
   top: 50%;
}
/* informaçoes do meio da tela*/

div#fundo1 {
   background-color: #B8CBE3;
   width: 800px;
   height: 400px;

   position: absolute;
   left: -300px;
   top: -60px;
}

div {
   width: 600px;
   ;
}

h1#h1txt1 {
   color: #06264F;

   position: absolute; 
   top: -150px;
   left: 50px;

   font-size: 35px;
}

h1#h1txt2 {
   position: absolute;
   top: 400px;
   left: 30px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   color: #06264F;
   font-size: 30px;
}

h2#h2txt1{
   width: 100px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   position: absolute;
   top: 480px;
   left: 80px;

   color: #06264F;
   font-size: 25px;
}

form#form1{
   background-color: #FEF445;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   position: absolute;
   left: 35px;
   top: 550px;

   width: 175px;
   height: 50px;
   border-radius: 15px;
}

img#img1{
   width: 30px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   position: absolute;
   left: 20px;
   top: 10px;
}

h2#h2txt2{
   position: absolute;
   left: 75px;
   top: 15px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   color: #E18211;
   font-size: 19px;
}

img#img2{
   position: absolute;
   top: 700px;
   left: -45px;
   width: 350px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
}

body{
   background-color: #ffffff;
}

form#form2{
   background-color: #B8CBE3;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   position: absolute;
   top: 925px;
   left: -40px;

   width: 350px;
   height: 50px;
   border-radius: 10px;
}

div#div1{
   background-color: #ffffff;

   position: absolute;
   left: 225px;
   top: 10px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Fredoka", sans-serif;
   width: 110px;
   height: 30px;
   border-radius: 10px;
}

h2#h2txt3{
   font-size: 19px;
   color: #06264F;

   position: absolute;
   top: 15px;
   left: 10px;
}

h2#h2txt4{
   position: absolute;
   left: 5px;
}

li#obj{
   background-color: #a6c7f1;
}

h2#h2txt5{
   position: absolute;
   left: -450px;
   top: -70px;

   font-size: 20px;
}

h2#h2txt6{
   position: absolute;
   left: -175px;
   top: -70px;

   font-size: 20px;
}

h2#h2txt7{
   position: absolute;
   top: -70px;

   font-size: 20px;
}



div#div2{
   background-color: #B8CBE3;
   width: 275px;
   height: 180px;
   border-radius: 5px;
   font-size: 15px;

   position: absolute;
   left: 250px;
   top: -60px;
}

h2#h2txt8{
   position: absolute;
   left: 40px;
   top: 20px;

   font-size: 20px;
   color: #06264F;
}

div#div3{
   background-color: #FFFFFF;
   width: 250px;
   height: 30px;
   border-radius: 3px;


   position: absolute;
   left: 10px;
   top: 50px;
}
 
h2#h2txt9{
   position: absolute;
   left: 55px;
   top: 90px;

   color: #06264F;
   font-size: 20px;
}

div#div4{
   background-color: #FFFFFF;
   width: 250px;
   height: 30px;
   border-radius: 3px;


   position: absolute;
   left: 10px;
   top: 125px;
}

h2#h2txt10{
   color: #06264F;
            margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Fredoka", sans-serif;
   position: absolute;
   left: -300px;
   top: 510px;
}

form#form3{
   text-align: right;
   font-size: 11px;

   position: absolute;
   left: -380px;
   top: 570px;
}

form#form4{
   background-color: #B8CBE3;
   width: 150px;
   height: 430px;

   position: absolute;
   left: -295px;
   top: 555px;
}

div#d1{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 10px;
}

div#d2{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 45px;
}

div#d3{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 80px;
}

div#d4{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 115px;
}

div#d5{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 150px;
}

div#d6{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 185px;
}

div#d7{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 220px;
}

div#d8{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 255px;
}

div#d9{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 290px;
}

div#d10{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 325px;
}

div#d11{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 360px;
}

div#d12{ 
   background-color: #fff;
   width: 120px;
   height: 30px;
   border-radius: 10px;

   position: absolute;
   left: 14px;
   top: 395px;
}

button#button2{
   background-color: #B8CBE3;
   width: 70px;
   height: 60px;
   border-radius: 20px;
   border-color: #a6c7f1;
   
   position: absolute;
   left: -250px;
   top: 1010px;
}

img#img3{
   width: 30px;

   position: absolute;
   top: 1025px;
   left: -230px;
}

