

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

form {
    background-color: #2D588E;
    width: 1250px;
    height: 500px;

    position: absolute;
    left: 50px;
    top: 60px;
    
}

h2 {
    position: absolute;
    left: 60px;
    top: 20px;
}

h1#texto1 {
    position: absolute;
    top: 25px;
    left: 25px;

    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

input#campo1 {
    background-color: #2D588E;
    border-radius: 10px;
    border-color: #fff;
    font-size: 25px;

    width: 475px;
    height: 50px;

    position: absolute;
    top: 105px;
    left: 25px;

    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

h1#texto2 {
    position: absolute;
    top: 175px;
    left: 25px;

    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}

input::placeholder {
    color: #cfcbcb;
    
}

input[type='radio'] {
    accent-color: rgb(251, 255, 0);
    border-color: 12px rgb(251, 255, 0);
  
  }

  input[type="radio"]::before {
    background-color: rgb(255, 238, 0);
  }

button {
    background-color: #FAC710;
    border-radius: 10px #FAC710;
    color: #fff;

    width: 275px;
    height: 75px;

    position: absolute;
    top: 83%;
    left: 40%;

    font-family: "Fredoka", sans-serif;
    font-weight: 700;
}



input[type=radio], input[type=checkbox]  {
    border: 0px;
    width: 25px;
    height: 25px;
} 