body {
    background-color: #0C356A;
 
}
 
h2 {
    color: #fff;
    position: absolute;
    left: 7%;
    top: 5%;
    font-size: 35px;
}
 
form#frente {
    background-color: #2D588E;
    padding-left: 1150px;
    text-align: center;
    height: 500px;
    position: absolute;
    top: 15%;
    left: 7%;
 
}
 
h1 {
    color: #fff;  
    font-size: 50px;
    position: absolute;
    left: 90px;
    top: 20px;
}
 
button {
    color: #fff;
    background-color: #FAC710;
    border-radius: 25px;
    border-color: #FAC710;
    padding: 23px;
    font-size: 40px;
    height: 90px;
 
    position: absolute;
    left: 90px;
    top: 100;
}
 
button#b1 {
    position: absolute;
    top: 30%;
    text-align: left;
    width: 500px;
}
 
button#b2 {
    position: absolute;
    top: 50%;
    text-align: left;
    width: 500px;
}
 
button#b3{
    position: absolute;
    top: 70%;
    text-align: left;
    width: 500px;
}